* {
  margin: 0px;
  padding: 0px; }

body {
  margin: 2px 3px 1px 3px;
  padding: 10px;
  font-family: 'Rubik', sans-serif;
  width: 1223px;
  height: 1200px;
  background-color: #ddff98;
  background-image: url("../imagenes/PLANTILLA_VERDE.jpg"); }

header {
  margin: 20px;
  padding: 5px; }

a {
  text-decoration: none !important;
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  width: 150px;
  height: 22px;
  transition: all 2s; }

aside {
  width: 523px; }

section {
  width: 626px; }

.contenedor {
  display: grid;
  flex-wrap: wrap;
  align-content: space-between; }
  .contenedor .barra {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; }
    .contenedor .barra .navegacion {
      margin: 10px 150px 10px 150px;
      display: flex;
      flex-direction: row;
      align-content: space-around; }
  .contenedor main {
    padding: 10px;
    margin: 15px;
    width: 1223px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between; }
    .contenedor main section {
      display: flex;
      justify-content: center; }
    .contenedor main .consejos {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: start; }
  .contenedor .videoRedesComentarios {
    width: 1223px;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between; }
    .contenedor .videoRedesComentarios .redes {
      width: 350px;
      height: 300px;
      display: flex;
      flex-wrap: nowrap;
      justify-items: start;
      justify-content: center;
      align-items: center; }
    .contenedor .videoRedesComentarios .video {
      display: flex;
      justify-content: center; }
    .contenedor .videoRedesComentarios .comentarios {
      width: 350px;
      height: 300px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      justify-content: space-between; }
      .contenedor .videoRedesComentarios .comentarios .comentario {
        border: 1px;
        border-style: solid;
        border-color: #498849; }

.container-table {
  display: grid;
  grid-template-columns: 7, 1fr;
  grid-template-rows: auto;
  justify-items: center; }

.piePagina {
  width: 1325px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e2e9da; }
