*{
    margin: 0px;
    padding:0px
}

$colorBase: rgb(226, 233, 218);
$colorh2: rgb(94, 97, 91);
$colorh3: rgb(45, 46, 43);

//tamaño titulos y parrafos

$titulo1: 32px;
$titulo2: 25px;
$titulo3: 20px;
$parrafo: 22px;
$comentarios: 16px;


body{
    margin: 2px 3px 0px 3px;
    padding: 10px 10px 0px 10px;
    font-family: 'Rubik', sans-serif;
    width: 1223px;
    min-height: calc(100vh - 4rem);;
    background-color: $colorBase;
    background-image:url("../imagenes/PLANTILLA_VERDE.jpg")
}

header{
    margin: 20px;
    padding: 5px;
}
a{
    text-decoration: none !important;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: $titulo3;
    width: auto;
    height: 22px;
    transition: all 2s;
}
aside{
    width: 523px;
}
section{
    width: 626px;
}
h2{
    color: $colorh2;
}

h3{
    color: $colorh3;
}


.contenedor{
    display: grid;
    flex-wrap: wrap;
    align-content: space-between;
    .barra{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .navegacion{
            width: 900px;
            margin: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    main{
        padding: 10px;
        margin: 15px;
        width: 1223px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        section{
            display: flex;
            justify-content: center;
        }
        .consejos{
            font-size: $titulo1;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: start;
            .consejoInd{
                font-size: $parrafo;
                display: flex;
                flex-direction: column;
                align-content: center;
            }
            
        }
    }
    .videoRedesComentarios{
        width: 1223px;
        margin: 15px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        .redes{
            width: 350px;
            height: 300px;
            font-size: $comentarios;
            display: flex;
            flex-wrap: nowrap;
            justify-items: start;
            justify-content: center;
            align-items: center;
        }
        .video{
            display: flex;
            justify-content: center;
        }
        .comentarios{
            width: 350px;
            height: 300px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: $comentarios;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            .comentario{
                border: 1px;
                border-style: solid;
                border-color: rgb(73, 136, 73);
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}



.container-table{
    display: grid;
    grid-template-columns: (7, 1fr);
    grid-template-rows: auto;
    justify-items: center;
}
.piePagina{
    width: 1325px;
    height: 2rem;
    padding: 0px;
    margin: 0px;
    display : flex;
    justify-content: center;
    align-items:stretch;
    text-align: center;
    background-color: $colorBase;
    
}

//diseño "quien soy?"


.contenedorQuien{
    margin: 5px;
    width: 1325px;
    height: 100vh;
    font-size: $titulo1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .textoQuien{
        margin: 3px;
        padding: 3px;
        width: 900px;
        height: auto;
        font-size: $parrafo;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        border-style:dashed;
        border-color: $colorBase;
    .imgQuien{
        width: 650px;
        height: 400px;
        padding: 3px;
        margin: 3px;
    }

    }
}

//diseño de nutricion integral

.contenedorStaff{
    margin: 20px;
    width: 1325px;
    height: 100vh;
    font-size: $titulo1;
    display: flex;
    flex-direction: column;
    align-items: center;
    #pstaff{
        width: 900px;
        margin: 50px 0px 25px 0px;
        padding: 3px;
        font-size: $parrafo;
    }
    .textoStaff{
        margin: 25px 0px 50px 0px;
        padding: 3px;
        width: 900px;
        height: auto;
        font-size: $comentarios;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        border-style:double;
        border-color: $colorBase;
        .divStaff{
        margin: 25px 0px 50px 0px;
        background-color: $colorBase;
        width: 900px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        }
    }
}

// diseño plan a tu gusto
.contenedorPlan{
    margin: 40px;
    width: 1325px;
    height: 100vh;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .textoPlan{
        margin: 25px;
        padding: 3px;
        width: 900px;
        height: auto;
        line-height: 30px;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        border-style:dashed;
        border-color: $colorBase;
    }
}