*{
    margin: 0px;
    padding:0px
}
$colorBase: rgb(226, 233, 218);
$colorh2: rgb(94, 97, 91);
$colorh3: rgb(45, 46, 43);

body{
    margin: 2px 3px 1px 3px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    width: 1223px;
    height: 100vh;
    background-color: $colorBase;
    background-image:url("../imagenes/PLANTILLA_VERDE.jpg")
}

header{
    margin: 20px;
    padding: 5px;
}
a{
    text-decoration: none !important;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    width: 150px;
    height: 22px;
    transition: all 2s;
}
aside{
    width: 523px;
}
section{
    width: 626px;
}
h2{
    color: $colorh2;
}

h3{
    color: $colorh3;
}


.contenedor{
    display: grid;
    flex-wrap: wrap;
    align-content: space-between;
    .barra{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .navegacion{
            margin: 10px 150px 10px 150px;
            display: flex;
            flex-direction: row;
            align-content: space-around;
        }
    }
    main{
        padding: 10px;
        margin: 15px;
        width: 1223px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        section{
            display: flex;
            justify-content: center;
        }
        .consejos{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: start;
            
        }
    }
    .videoRedesComentarios{
        width: 1223px;
        margin: 15px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        .redes{
            width: 350px;
            height: 300px;
            display: flex;
            flex-wrap: nowrap;
            justify-items: start;
            justify-content: center;
            align-items: center;
        }
        .video{
            display: flex;
            justify-content: center;
        }
        .comentarios{
            width: 350px;
            height: 300px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            .comentario{
                border: 1px;
                border-style: solid;
                border-color: rgb(73, 136, 73);
            }
        }
    }
}



.container-table{
    display: grid;
    grid-template-columns: (7, 1fr);
    grid-template-rows: auto;
    justify-items: center;
}
.piePagina{
    width: 1325px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $colorBase;
    
}

//diseño "quien soy?"


.contenedorQuien{
    margin: 5px;
    width: 1325px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .textoQuien{
        margin: 3px;
        padding: 3px;
        width: 900px;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        border-style:dashed;
        border-color: $colorBase;
    .imgQuien{
        width: 650px;
        height: 400px;
        padding: 3px;
        margin: 3px;
    }

    }
}